@import "./mixins.scss";

.ProductContainer {
  display: flex;
  background: #f3f3f3;
  border: 4px solid #a1857a;
  max-width: 300px;
}

.Product {
  padding: 10px;
  display: flex;
  gap: 14px;
  flex-direction: column;
  justify-content: space-between;
}

.img {
  img {
    width: 100%;
    object-fit: cover;
  }
}

.body {
  padding: 0px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title {
  font-size: 14px;
  text-align: center;
  padding: 10px 0;
  color: #a1857a;
  font-weight: bold;
  flex-grow: 1;
}

.article {
  font-size: 12px;
}

.articleText {
  font-weight: bold;
}
.articleValue {}

.color {
  font-size: 12px;
}

.colorText{
  font-weight: bold;
}
.colorValue{}

.bottom {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.actions {
  display: flex;
  gap: 5px;
}

.cart,
.favorites {
  color: #c13d3d;
  cursor: pointer;
  transition: all 300ms ease;
}

.cart:hover,
.favorites:hover {
  color: #ff2929;
}

.price {
  text-align: right;
  font-size: 18px;
  color: #3a957d;
  font-weight: bold;
}

.sum {}
.currency {}

.modalAddCart {
  display: flex;
  font-weight: normal;
  gap: 10px;

  .title,
  .price {
    padding: 0;
    font-size: 14px;
    color: #fff;
  }

  .sds {
    color: #cc1934;
    background: #1c8646;
  }
}